/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2017, 05:56:28
    Author     : Rafael
*/

#banner {

width: 2000px; 
height: 800px;
}

#textoBanner {
position: absolute;
margin-top: -250px;
margin-left: 100px
}

#textoBanner2 {
position: absolute;
margin-top: -100px;
margin-left: 250px
}

#logoBanner {
    position: absolute;
margin-top: -850px;
margin-left: 50px
}

#corpo1 {
    position:relative; top:0px; left:0px;
    width: 1600px;
    height: 1254px;
}

#arte1Corpo1 {
    width: 1181px; 
    position:absolute; top:470px; left:210px;
}

#arte2Corpo1 {
    width: 1181px; 
    position:absolute; top:861px; left:210px;
}

#corpo2 {
        position:relative; top:0px; left:0px;

   width: 1600px; 

    height: 1254px;
    background-color: #fd634e;
}

#arte1Corpo2 {
    width: 1181px; 
    position:absolute;  left:210px;
}

#arte2Corpo2 {
    width: 1181px; 
    position:absolute; top:330px; left:210px;
}

#arte3Corpo2 {
    width: 1181px; 
    position:absolute; top:630px; left:210px;
}

#arte4Corpo2 {
    width: 1181px; 
    position:absolute; top:930px; left:210px;
}

#corpoFinal {
        position:relative; top:0px; left:0px;

   width: 1600px; 

    height: 1400px;
    background-color: #0d1119;
}

#arte1CorpoFinal {
    width: 1600px; 
    position:absolute;  left:0px;
}

#bannerFace{
    
    position:absolute;
    margin-top: 910px;
margin-left: 1100px
    
}

#bannerTwitter{
    
    position:absolute;
    margin-top: 910px;
margin-left: 1160px
    
}

#bannerYouTube{
    
    position:absolute;
    margin-top: 910px;
margin-left: 1221px
    
}

#bannerLinkedin{
    
    position:absolute;
    margin-top: 910px;
margin-left: 1283px
    
}

#iconeMaleta{

    position:absolute; top:110px; left:210px;
    
}

#textoIcone1{

     position:absolute; top:95px; left:0px;
   
    
}

#textoIcone2{
    
         position:absolute; top:145px; left:0px;

}

#textoIcone3{
    
         position:absolute; top:280px; left:0px;

}

#iconeRelógio{
    
        position:absolute; top:110px; left:504px;
    
}



#iconeCloud{
       width: 44px; 

    height: 41px;
    position:absolute; top:110px; left:798px;
}



#iconeBalão{
    position:absolute; top:110px; left:1092px;
}



#iconeHomen{

    position:absolute; top:0px; left:0px;
   
}

#texto1corpo1{

     position:absolute; top:50px;
   color: white;
   font-family: sans-serif;
   font-size: 20px;
    
}

#texto2corpo1{

 
   
      position:absolute; top:110px; left:0px;
   color: white;
   font-family: sans-serif;
   font-size: 15px;
    
}

#texto3corpo1{

       position:absolute; top:300px; left:0px;
   color: white;
   font-family: sans-serif;
   font-size: 10px;
   
    
}

#texto4corpo1{

   position:absolute; top:40px; left:845px;
   color: #fd634e;
   font-family: sans-serif;
   font-size: 20px;
    
}

#texto5corpo1{

    font-size: 40px;
    position:absolute; top:65px; left:845px;
    font-family: monospace;
    color : #a2ca28
    
}

#texto6corpo1{

      position:absolute; top:175px; left:845px;
   color: black;
   font-family: sans-serif;
   font-size: 20px;
    
}

#texto1corpo2{

   
   position:absolute; top:40px; left:45px;
   color: #fd634e;
   font-family: sans-serif;
   font-size: 20px;
   
}

#texto2corpo2{
    
    font-size: 40px;
    position:absolute; top:65px; left:45px;
    font-family: monospace;
    color : #a2ca28

}

#texto3corpo2{
      position:absolute; top:170px; left:45px;
   color: black;
   font-family: sans-serif;
   font-size: 20px;
   
}

#texto4corpo2{
      position:absolute; top:65px; left:450px;
   color: white;
   font-family: sans-serif;
   font-size: 45px;
   
}

#texto5corpo2{
      position:absolute; top:120px; left:450px;
   color: white;
   font-family: sans-serif;
   font-size: 15px;
   
}

#texto6corpo2{
      position:absolute; top:40px; left:820px;
   color: white;
   font-family: sans-serif;
   font-size: 40px;
   
}

#texto7corpo2{
      position:absolute; top:120px; left:820px;
   color: white;
   font-family: sans-serif;
   font-size: 15px;
   
}

#formulario{
position:absolute;
    margin-top: 1050px;
margin-left: 500px
}

#botão{
        width: 200px; 
        font-family: calibri;
        background-color: #a2ca28 ;

}

#texto1corpoFinal{

     position:absolute; top:215px; left:450px;
   font-family: calibri;
   font-size: 50px;
   color: white;
    
}

#texto2corpoFinal{
         position:absolute; top:320px; left:510px;
   font-family: calibri;
   font-size: 20px;
   color: white;
}

#texto3corpoFinal{
         position:absolute; top:350px; left:520px;
   font-family: calibri;
   font-size: 20px;
   color: white;
}

#texto4corpoFinal{
         position:absolute; top:900px; left:180px;
   font-family: calibri;
   font-size: 20px;
   color: white;
}

#texto5corpoFinal{
         position:absolute; top:950px; left:180px;
   font-family: calibri;
   font-size: 12px;
   color: white;
}

#texto6corpoFinal{
         position:absolute; top:900px; left:650px;
   font-family: calibri;
   font-size: 20px;
   color: white;
}

#texto7corpoFinal{
         position:absolute; top:950px; left:650px;
   font-family: calibri;
   font-size: 12px;
   color: white;
}
